#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language                                                             
lang ja_JP.UTF-8

# Network information                                                                              
network  --bootproto=static --device=eth0 --onboot=on --activate --gateway=192.168.172.1 --ip=192.168.172.101 --nameserver=192.168.172.1 --netmask=255.255.255.0 --noipv6
network  --bootproto=static --device=eth1 --onboot=on --activate --ip=10.0.172.101 --netmask=255.255.255.0 --noipv6
network  --hostname=host01

# Root password
rootpw --plaintext rootroot
# System services
#services --enabled="chronyd"

# System timezone
timezone Asia/Tokyo --isUtc
user --groups=wheel --name=openstack --password=openopen --plaintext --gecos="openstack"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda

install
reboot
zerombr

%packages
@core
@base
%end
